pkgbase = bubblefetch-bin
	pkgdesc = Fast, themeable system information tool built with Go and Bubbletea (prebuilt binary)
	pkgver = 0.3.0
	pkgrel = 1
	url = https://github.com/howieduhzit/bubblefetch
	arch = x86_64
	arch = aarch64
	license = MIT
	conflicts = bubblefetch
	conflicts = bubblefetch-git
	source = https://github.com/howieduhzit/bubblefetch/archive/refs/tags/v0.3.0.tar.gz
	source_x86_64 = bubblefetch::https://github.com/howieduhzit/bubblefetch/releases/download/v0.3.0/bubblefetch_0.3.0_linux_amd64
	source_aarch64 = bubblefetch::https://github.com/howieduhzit/bubblefetch/releases/download/v0.3.0/bubblefetch_0.3.0_linux_arm64
	sha256sums = SKIP
	sha256sums_x86_64 = SKIP
	sha256sums_aarch64 = SKIP

pkgname = bubblefetch-bin
